.TextNav {
  /* Add any container styles if needed */
  font-weight: 100;
}

.textNavLabel {
  position: relative;
  color: black;
  cursor: pointer;
  font-size: 16px;
  font-weight: 800;
  text-decoration: none;
}

.textNavLabel::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px; /* Thickness of the underline */
  background-color: black;
  left: 0;
  bottom: -4px; /* Adjust to place the underline just below the text */
  transition: width 0.3s ease-in-out;
}

.textNavLabel:hover::after {
  width: 100%; /* On hover, the underline will expand across the text */
}


@media screen and (max-width:1080px) {
  .textNavLabel {
    font-size: 13px;
    font-weight: 800;
  }
}