.textNavLabel {
  position: relative;
  color: black;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  padding-bottom: 4px; 
  transition: color 0.3s ease;
}

.textNavLabel::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  background-color: black;
  left: 0;
  bottom: 0; 
  transition: width 0.3s ease-in-out;
}

.textNavLabel:hover::after {
  width: 100%; /* On hover, the underline will expand across the text */
}

.textNavLabel.active::after {
  width: 100%;
}

@media screen and (max-width: 1080px) {
  .textNavLabel {
    font-size: 13px;
    font-weight: 800;
  }
}